{% extends "base.html" %}

{% block content %}
  <!-- Breadcrumb -->
  <nav class="flex mb-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a href="{% url 'index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Home
        </a>
      </li>
      <li class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="{% url 'exams' %}" class="text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">Exams</a>
      </li>
    </ol>
  </nav>

  <!-- Exam Name -->
  <div class="mb-6 flex items-center cursor-pointer">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">{{ exam.name }}</h1>
  </div>

  {% include 'message_display.html' %}

  <!-- Questions Section -->
  <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Exam Questions</h2>

  <!-- Add Question Button with Icon -->
  <div class="mb-4 flex items-center space-x-4">
    <button 
      class="flex items-center text-sm text-white bg-green-500 hover:bg-green-600 px-2 py-1 rounded-lg focus:outline-none"
      onclick="openAddQuestionModal()">
      <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
      Add Question
    </button>
    <a href="{% url 'select_questions' exam.id %}" class="ml-auto text-sm text-white bg-blue-500 hover:bg-blue-600 px-2 py-1 rounded-lg">Select Questions</a>
    <!-- Scan Page Button -->
    <a href="{% url 'scan_page' current_class.id exam.id %}" class="ml-auto text-sm text-white bg-purple-500 hover:bg-purple-600 px-2 py-1 rounded-lg">Scan Page</a>

</div>
  </div>

  <!-- Table of Exam Questions -->
  <div class="relative overflow-x-auto mb-6">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Question</th>
          <th scope="col" class="px-6 py-3">Options</th>
          <th scope="col" class="px-6 py-3">Answer</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for question in exam.questions.all %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ question.question_text }}</td>
            <td class="px-6 py-4">
              <ul>
                <li>A: {{ question.option_a }}</li>
                <li>B: {{ question.option_b }}</li>
                <li>C: {{ question.option_c }}</li>
                <li>D: {{ question.option_d }}</li>
                <li>E: {{ question.option_e }}</li>
              </ul>
            </td>
            <td class="px-6 py-4 text-gray-900 dark:text-white">{{ question.get_answer_display }}</td>
            <td class="px-6 py-4">
              <button class="text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-500 mr-2"
                onclick="openEditQuestionModal('{{ question.id }}', '{{ question.question_text }}', '{{ question.option_a }}', '{{ question.option_b }}', '{{ question.option_c }}', '{{ question.option_d }}','{{ question.option_e }}')">Edit</button>
              <button class="text-red-500 hover:text-red-600 dark:text-red-400 dark:hover:text-red-500"
                onclick="openDeleteQuestionModal('{{ question.id }}', '{{ question.question_text }}')">Delete</button>
            </td>
          </tr>
        {% empty %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td colspan="4" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">No questions added yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Add Question Modal -->
  <div id="addQuestionModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="relative bg-white dark:bg-gray-800 rounded-lg shadow-lg w-full max-w-lg p-6">
        <form method="post" action="{% url 'add_question' exam.id %}">
          {% csrf_token %}
          <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Add Question to {{ exam.name }}</h2>
          <div class="mb-4">
            <label for="questionText" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Question Text</label>
            <textarea id="questionText" name="question_text" rows="4" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white"></textarea>
          </div>
          <div class="grid grid-cols-4 gap-4 mb-4">
            <div>
              <label for="optionA" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option A</label>
              <input type="text" id="optionA" name="option_a" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
            </div>
            <div>
              <label for="optionB" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option B</label>
              <input type="text" id="optionB" name="option_b" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
            </div>
            <div>
              <label for="optionC" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option C</label>
              <input type="text" id="optionC" name="option_c" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
            </div>
            <div>
              <label for="optionD" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option D</label>
              <input type="text" id="optionD" name="option_d" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
            </div>
            <div>
              <label for="optionE" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option E</label>
              <input type="text" id="optionE" name="option_e" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
            </div>
          </div>
          <div class="mb-4">
            <label for="Answer" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Answer</label>
            <select id="Answer" name="answer" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
              <option value="A">Option A</option>
              <option value="B">Option B</option>
              <option value="C">Option C</option>
              <option value="D">Option D</option>
              <option value="E">Option E</option>
            </select>
          </div>
          <button type="submit" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg">Add Question</button>
          <button type="button" onclick="closeAddQuestionModal()" class="ml-2 text-gray-700 dark:text-gray-300">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Question Modal -->
  <div id="editQuestionModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="relative bg-white dark:bg-gray-800 rounded-lg shadow-lg w-full max-w-lg p-6">
        <form id="editQuestionForm" method="post">
          {% csrf_token %}
          <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Edit Question</h2>
          <div class="mb-4">
            <label for="editQuestionText" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Question Text</label>
            <textarea id="editQuestionText" name="question_text" rows="4" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">{{ question.question_text }}</textarea>
          </div>
          <div class="grid grid-cols-4 gap-4 mb-4">
            <div>
              <label for="editOptionA" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option A</label>
              <input type="text" id="editOptionA" name="option_a" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white" value="{{ question.option_a }}">
            </div>
            <div>
              <label for="editOptionB" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option B</label>
              <input type="text" id="editOptionB" name="option_b" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white" value="{{ question.option_b }}">
            </div>
            <div>
              <label for="editOptionC" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option C</label>
              <input type="text" id="editOptionC" name="option_c" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white" value="{{ question.option_c }}">
            </div>
            <div>
              <label for="editOptionD" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option D</label>
              <input type="text" id="editOptionD" name="option_d" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white" value="{{ question.option_d }}">
            </div>
            <div>
              <label for="editOptionD" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Option E</label>
              <input type="text" id="editOptionD" name="option_e" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white" value="{{ question.option_e }}">
            </div>
          </div>
          <div class="mb-4">
            <label for="editCorrectAnswer" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Answer</label>
            <select id="editCorrectAnswer" name="answer" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md dark:bg-gray-900 dark:text-white">
              <option value="A" {% if question.answer == 'A' %} selected {% endif %}>Option A</option>
              <option value="B" {% if question.answer == 'B' %} selected {% endif %}>Option B</option>
              <option value="C" {% if question.answer == 'C' %} selected {% endif %}>Option C</option>
              <option value="D" {% if question.answer == 'D' %} selected {% endif %}>Option D</option>
              <option value="E" {% if question.answer == 'E' %} selected {% endif %}>Option E</option>
            </select>
          </div>
          <button type="submit" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg">Save Changes</button>
          <button type="button" onclick="closeEditQuestionModal()" class="ml-2 text-gray-700 dark:text-gray-300">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete Question Modal -->
  <div id="deleteQuestionModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="relative bg-white dark:bg-gray-800 rounded-lg shadow-lg w-full max-w-lg p-6">
        <form id="deleteQuestionForm" method="post">
          {% csrf_token %}
          <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Delete Question</h2>
          <p class="mb-4">Are you sure you want to delete the following question?</p>
          <div id="deleteQuestionText" class="mb-4 text-gray-900 dark:text-white"></div>
          <button type="submit" class="text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg">Delete</button>
          <button type="button" onclick="closeDeleteQuestionModal()" class="ml-2 text-gray-700 dark:text-gray-300">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Answer Key Modal -->
  <div id="answer-key-modal" class="fixed inset-0 z-10 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="relative inline-block align-bottom bg-white dark:bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white" id="answer-key-title">
                Answer Key
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500 dark:text-gray-400 mb-2">
                  Below is the answer key for the exam questions:
                </p>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-4">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3">Question</th>
                      <th scope="col" class="px-6 py-3">Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for question in exam.questions.all %}
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ question.question_text }}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-white">{{ question.get_answer_display }}</td>
                      </tr>
                    {% empty %}
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td colspan="2" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">No questions added yet.</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 dark:bg-gray-700 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button" onclick="closeAnswerKeyModal()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add a button to open the Answer Key Modal -->
  <button type="button" onclick="openAnswerKeyModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    View Answer Key
  </button>

  <script>
    function openAnswerKeyModal() {
      document.getElementById('answer-key-modal').classList.remove('hidden');
    }

    function closeAnswerKeyModal() {
      document.getElementById('answer-key-modal').classList.add('hidden');
    }

    function openAddQuestionModal() {
      document.getElementById('addQuestionModal').classList.remove('hidden');
    }

    function closeAddQuestionModal() {
      document.getElementById('addQuestionModal').classList.add('hidden');
    }

    function openEditQuestionModal(id, text, a, b, c, d, e) {
      document.getElementById('editQuestionForm').action = `/edit_question/${id}/`;
      document.getElementById('editQuestionText').value = text;
      document.getElementById('editOptionA').value = a;
      document.getElementById('editOptionB').value = b;
      document.getElementById('editOptionC').value = c;
      document.getElementById('editOptionD').value = d;
      document.getElementById('editOptionD').value = e;
      document.getElementById('editQuestionModal').classList.remove('hidden');
    }

    function closeEditQuestionModal() {
      document.getElementById('editQuestionModal').classList.add('hidden');
    }

    function openDeleteQuestionModal(id, text) {
      document.getElementById('deleteQuestionForm').action = `/delete_question/${id}/`;
      document.getElementById('deleteQuestionText').innerText = text;
      document.getElementById('deleteQuestionModal').classList.remove('hidden');
    }

    function closeDeleteQuestionModal() {
      document.getElementById('deleteQuestionModal').classList.add('hidden');
    }
  </script>
{% endblock %}
