{% if messages %}
<div class="mb-4">
  <ul>
    {% for message in messages %} {% if message.tags == 'info' %}
    <div
      class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
      role="alert"
    >
      <span class="font-medium">Info alert!</span> {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div
      class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="font-medium">Warning!</span> {{ message }}
    </div>
    {% elif message.tags == 'success' %}
    <div
      class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert"
    >
      <span class="font-medium">Success alert!</span> {{ message }}
    </div>
    {% elif message.tags == 'warning' %}
    <div
      class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
      role="alert"
    >
      <span class="font-medium">Warning alert!</span> {{ message }}
    </div>
    {% elif message.tags == 'dark' %}
    <div
      class="p-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300"
      role="alert"
    >
      <span class="font-medium">Dark alert!</span> {{ message }}
    </div>
    {% else %}
    <div
      class="p-4 mb-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300"
      role="alert"
    >
      {{ message }}
    </div>
    {% endif %} {% endfor %}
  </ul>
</div>
{% endif %}
