<!-- templates/base.html -->

{% load compress %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartscore</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-green-50">
    {% include 'navbar.html' %}
   
    <hr>

    <div class="container mx-auto mt-4">
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    
    {% include 'footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    {% if user.is_authenticated %}
        <!-- User is logged in -->
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
        <!-- You can add other authenticated user content here -->
    {% else %}
        <!-- User is not logged in -->
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>.</p>
    {% endif %}
</body>

</html>
